In [1]:
import pandas as pd
import numpy as np
import redefine

from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import KMeans, DBSCAN, HDBSCAN, AgglomerativeClustering
from sklearn.metrics import accuracy_score

In [2]:
from pprint import pprint

In [3]:
data = pd.read_csv('data/iris_modified.csv')

In [4]:
data

,id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,versicolor
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [5]:
rd = redefine.REDEFINE('iris_modified.csv', data, 'target', 'id')

In [7]:
results = rd.run_redefine('Random Forest', {'n_estimators':'5'}, 'KMeans', {}, 'Standard')

In [31]:
results.to_csv('testing.txt', sep='\t')

In [20]:
X = rd.get_X()
IDs = rd.get_IDs()
Y = rd.get_Y()
Y_names = rd.get_Y_names()
kfolds = 10

In [294]:
def accuracy_score(ytest, yhat):
        nz = np.flatnonzero(ytest == yhat)
        return len(nz)/len(ytest)

def doKFold(model, scaler):
        n = len(X)
        idxs = np.linspace(0, n, kfolds+1).astype(int)
        idx = np.arange(0, n)
        
        np.random.shuffle(idx)

        x = X.copy()[idx]
        y = Y.copy()[idx]
        ids = IDs.copy()[idx]

        accuracy_scores = np.zeros(kfolds)
        
        ####
        idtests = np.zeros(n, dtype='O')
        yhattests = np.zeros(n, dtype='O')
        ####

        for k, i in enumerate(range(1, len(idxs))):
            idx1 = idxs[i-1]
            idx2 = idxs[i]

            xtest = x[idx1:idx2]
            xtrain = np.concatenate([x[idxs[0]:idx1], x[idx2:idxs[-1]]])

            ytest = y[idx1:idx2]
            ytrain = np.concatenate([y[idxs[0]:idx1], y[idx2:idxs[-1]]])

            if scaler is not None:
                xtrain = scaler.fit_transform(xtrain)
                xtest = scaler.transform(xtest)

            model.fit(xtrain, ytrain)
            yhat = model.predict(xtest)
            
            accuracy_scores[k] = accuracy_score(ytest, yhat)
            
            ####
            idtests[idx1:idx2] = ids[idx1:idx2]
            yhattests[idx1:idx2] = yhat
            ####
        #, ####
        return np.mean(accuracy_scores), zip(idtests, yhattests)

In [293]:
testarr = np.zeros(10, dtype='O')
testarr[0:3] = np.array(['1', '1', '1'])
testarr

array(['1', '1', '1', 0, 0, 0, 0, 0, 0, 0], dtype=object)

In [295]:
model = RandomForestClassifier()
scaler = StandardScaler()
score, results = doKFold(model, scaler)

In [296]:
results

In [271]:
score

0.9572463768115942

In [241]:
type(IDs)

pandas.core.series.Series

In [297]:
df = pd.DataFrame(columns=['supervised'], index=IDs)

In [298]:
df

        supervised
ID
4069430        NaN
4211823        NaN
4215950        NaN
4221545        NaN
4265842        NaN
...            ...
5472355        NaN
5472399        NaN
5472565        NaN
5526662        NaN
5625325        NaN

[235 rows x 1 columns]

<zip object at 0x12e0995c0>

In [299]:
for idx, res in results:
    print(idx, res)
    df.at[idx, 'supervised'] = res

12251295 exaltata
4432127 exaltata
23241200 exaltata
4211846 syriaca
5470355 exaltata
23241212 exaltata
4432416 syriaca
23241172 exaltata
19605479 exaltata
4432412 syriaca
7137240 exaltata
12251331 exaltata
23241173 exaltata
23241263 exaltata
23241168 exaltata
23141186 exaltata
19941670 exaltata
12327864 exaltata
19605451 exaltata
4221545 exaltata
4432447 syriaca
4432414 syriaca
3285876 syriaca
24721449 exaltata
19605768 exaltata
4069039 syriaca
19330844 exaltata
23241182 exaltata
23241231 exaltata
5069317 syriaca
19941672 exaltata
17021602 exaltata
19605472 exaltata
13297772 exaltata
21623019 exaltata
12251547 exaltata
12251291 exaltata
23241185 exaltata
3285874 syriaca
19605498 exaltata
12251305 exaltata
24721753 exaltata
23241289 exaltata
4600623 syriaca
16891267 exaltata
4432432 syriaca
12318721 exaltata
21166347 exaltata
11164025 exaltata
12251555 exaltata
23241195 exaltata
4217515 syriaca
24721758 exaltata
4265210 syriaca
17171818 exaltata
21623020 exaltata
23241181 exaltata
13297757 exaltata
3081870 syriaca
9462747 exaltata
23241171 exaltata
4246242 syriaca
12251559 exaltata
5472355 syriaca
4432435 syriaca
12251187 exaltata
9785472 exaltata
23241164 exaltata
23241249 exaltata
19605491 exaltata
5271152 syriaca
3285873 syriaca
4211849 syriaca
23241220 exaltata
12354248 exaltata
23241139 exaltata
17171817 exaltata
5625325 syriaca
21622979 exaltata
4265842 exaltata
4226638 syriaca
5252391 syriaca
23241288 exaltata
23084165 exaltata
5168344 syriaca
14623069 exaltata
23241248 exaltata
5231641 syriaca
20892207 exaltata
4432413 syriaca
4069430 syriaca
21166359 exaltata
5143623 syriaca
23241274 exaltata
4264064 syriaca
12350352 exaltata
4987656 syriaca
12251318 exaltata
12251564 exaltata
6811807 exaltata
5138236 syriaca
4211848 syriaca
5271551 exaltata
23241146 exaltata
19605487 exaltata
15737683 exaltata
23241202 exaltata
8546467 exaltata
12344946 exaltata
19605495 exaltata
19605484 exaltata
23241149 exaltata
12325187 exaltata
24583489 exaltata
9786972 exaltata
12251557 exaltata
7149212 exaltata
14623129 exaltata
15795762 exaltata
23241108 exaltata
5167503 exaltata
21770485 exaltata
12327858 exaltata
4432131 exaltata
19605455 exaltata
12350934 exaltata
15737700 exaltata
23241117 exaltata
19605506 exaltata
7344258 exaltata
9503440 exaltata
8704152 exaltata
2216673 exaltata
4432143 exaltata
4246104 syriaca
24721461 exaltata
12251300 exaltata
15737669 exaltata
21623013 exaltata
23241122 exaltata
24732510 exaltata
4253019 syriaca
4069043 syriaca
19605572 exaltata
20892210 exaltata
21770770 exaltata
19605769 exaltata
4432129 exaltata
21770041 exaltata
19605765 exaltata
24091329 exaltata
4245627 syriaca
23241241 exaltata
4432137 exaltata
23241144 exaltata
20892212 exaltata
14623128 exaltata
4600633 syriaca
23241133 exaltata
4211823 exaltata
21623012 exaltata
3081838 syriaca
12342005 exaltata
12251571 exaltata
5103748 syriaca
4291196 syriaca
21623017 exaltata
23241128 exaltata
4211845 syriaca
21623018 exaltata
12344352 exaltata
24738421 exaltata
5280467 exaltata
21166445 exaltata
23241187 exaltata
4244701 syriaca
4432418 syriaca
5138120 syriaca
4432446 syriaca
23241282 exaltata
4215950 exaltata
12251317 exaltata
12251332 syriaca
5472565 exaltata
21623014 exaltata
8704153 exaltata
19605454 exaltata
20892208 exaltata
7344259 exaltata
4069036 syriaca
5124947 syriaca
12251562 exaltata
24721334 exaltata
5779889 exaltata
12251577 exaltata
12251307 exaltata
4432417 syriaca
7344098 exaltata
14623126 exaltata
19605471 exaltata
5526662 syriaca
23241223 exaltata
23241192 exaltata
23241262 exaltata
19605475 exaltata
23241179 exaltata
5472399 exaltata
23241177 syriaca
5470310 exaltata
12251580 exaltata
4253555 syriaca
14623133 exaltata
5470388 exaltata
4266615 syriaca
20892205 exaltata
24720948 exaltata
15737697 exaltata
4432146 exaltata
12318722 exaltata
23241127 exaltata
24721665 exaltata
19605452 exaltata
12251289 exaltata
19605474 exaltata
3285875 exaltata
19941673 exaltata
23241257 exaltata
16932225 exaltata
5083878 syriaca
9535417 exaltata
12339322 exaltata
4211847 syriaca
12333471 exaltata
4244763 syriaca
15737681 exaltata

In [301]:
df

        supervised
ID
4069430    syriaca
4211823   exaltata
4215950   exaltata
4221545   exaltata
4265842   exaltata
...            ...
5472355    syriaca
5472399   exaltata
5472565   exaltata
5526662    syriaca
5625325    syriaca

[235 rows x 1 columns]

TypeError: 'NoneType' object is not iterable