# Iris Data

iris_modified.csv has data that is purposefully misclassified for testing purposes:

| index | old value | new value |
|-------|-----------|-----------|
| 11 | setosa | versicolor |
| 46 | setosa | virginica |
| 62 | versicolor | virginica |
| 87 | versicolor | setosa |
| 146 | virginica | versicolor |

In [64]:
from sklearn.datasets import load_iris
import pandas as pd
import random

In [2]:
iris = load_iris()

In [3]:
X = iris.data
y = [iris.target_names[x] for x in iris.target]

In [4]:
xdf = pd.DataFrame(X, columns=iris.feature_names)

In [5]:
ydf = pd.DataFrame(y, columns=['target'])

In [6]:
df = pd.concat([xdf, ydf], axis = 1)

In [7]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [8]:
df.to_csv('iris_true.csv')

In [9]:
df_wrong = df.copy()

In [50]:
random.seed(2024)
flip_idx1 = [random.randint(0, 49) for _ in range(3)]
flip_idx2 = [random.randint(50, 99) for _ in range(3)]
flip_idx3 = [random.randint(100, 149) for _ in range(3)]

print(flip_idx1, flip_idx2, flip_idx3)

[30, 11, 46] [87, 69, 62] [146, 126, 148]

In [51]:
flip_idx = []
flip_idx.extend(flip_idx1)
flip_idx.extend(flip_idx2)
flip_idx.extend(flip_idx3)
flip_idx = sorted(flip_idx)
flip_idx

[11, 30, 46, 62, 69, 87, 126, 146, 148]

In [61]:
random.seed(2024)
for idx in flip_idx:
    old = df_wrong.at[idx, 'target']
    new = random.choice(iris.target_names)
    if old != new:
        df_wrong.at[idx, 'target'] = new
        print(f'index: {idx}; old value: {old}; new value: {new}')

index: 11; old value: setosa; new value: versicolor
index: 46; old value: setosa; new value: virginica
index: 62; old value: versicolor; new value: virginica
index: 87; old value: versicolor; new value: setosa
index: 146; old value: virginica; new value: versicolor

In [63]:
df_wrong.iloc[flip_idx]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
11,4.8,3.4,1.6,0.2,versicolor
30,4.8,3.1,1.6,0.2,setosa
46,5.1,3.8,1.6,0.2,virginica
62,6.0,2.2,4.0,1.0,virginica
69,5.6,2.5,3.9,1.1,versicolor
87,6.3,2.3,4.4,1.3,setosa
126,6.2,2.8,4.8,1.8,virginica
146,6.3,2.5,5.0,1.9,versicolor
148,6.2,3.4,5.4,2.3,virginica

In [65]:
df_wrong.to_csv('iris_modified.csv')